* {
    margin:0;
    padding:0;
    background-color:gray;
    border-style:"box-model";
}

.title {
    font-family: 'Press Start 2P', monospace;
    font-size: 42px;
    color:cadetblue;
    background-color:dimgray;
    border-radius:5px;
    border:5px 20px;
    margin:5px 0;
}

.divider {
    height:2px;
    background-color:black;
}

p {
    color:dodgerblue;
    font-size: 14px;
}